@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #010304;
    --background: #f4f9fb;
    --primary: #2b6b82;
    --secondary: #e0eff5;
    --accent: #47a1c2;
  }
  .dark {
    --text: #fbfdfe;
    --background: #04090b;
    --primary: #7dbdd4;
    --secondary: #0a191f;
    --accent: #3d97b8;
  }
}

body {
  background-color: var(--background);
  color: var(--text);
}

.navbar-gradient {
  background: linear-gradient(90deg, var(--primary), var(--accent));
  color: var(--text);
}
